# === Entornos virtuales ===
env/
venv/
ENV/
.env/

# === Archivos de Python ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Archivos de logs ===
*.log

# === Archivos de configuración locales ===
*.env
*.ini
*.cfg

# === Salidas de compilación ===
build/
dist/
*.spec

# === Archivos generados por Jupyter ===
.ipynb_checkpoints/

# === Archivos de IDEs ===
# Visual Studio Code
.vscode/
# PyCharm
.idea/

# === Archivos del sistema ===
.DS_Store
Thumbs.db